@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  width: 600px;
}

li {
  list-style: none;
}

.left-links, .right-links {
  display: flex;
  gap: 20px;
  padding: 0;
}

.left-links {
  margin-left: 20px;
}

.right-links {
  margin-right: 20px;
}

.header {
  display: flex;
}

.header, .footer {
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer {
  display: flex;
  margin-top: auto;
  background-color: #F0F0F0;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: #808080;
}

button {
  padding: 5px 8px;
}